#mainNav {
  background-color: #222222; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 0px;
    text-transform: uppercase;
    color: white;
    border: 10;
    background-color: #fed136;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
    
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
  
.panel-primary > .panel-heading-custom {
    background: #404040; color: #fff;
}


.table th {
      text-align: center;   
   }
.table td {
      vertical-align: middle;
   }


.check_box
{
  margin-right: 12px;
}

header.masthead {
   width: 100%;
  height:200px;
  text-align: center;
  color: white;
  background-image: url(images/Neuron.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.heading{
  font-weight:bold !important;
 text-align: center; 
 color:black
}


.glyphicon {
    font-size: 15px;
}

.tooltip {
    margin-top: 10px; 
    position: relative;
    display: inline-block;
    opacity: 10 !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    height: 30px;
    background-color: #e6e6e6;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.padding-top-10{
  padding-top: 15px !important;
}
.padding-bottom-5{
  padding-bottom: 5px !important;
}

#arrow {
    -webkit-appearance:none;
    outline: none;
}

.alert {
   width:50%;    
}